In [3]:
print('Hello, "NSD Students".')
print("Hello, \n\"NSD Students\".")
print('I\'m legend')
print("Hello, World")
print('Hello, everyone!')

Hello, "NSD Students".
Hello,
"NSD Students".
I'm legend
Hello, World
Hello, everyone!

In [10]:
print('H', 'E', 'L','L','O', sep='8')

H8E8L8L8O

In [ ]:
print (6 / 3)

In [ ]:
#The print() function - the escape and newline characters - \n

print("The itsy bitsy spider climbed up the waterspout.")

In [ ]:
#The print() function - using multiple arguments

print("The itsy bitsy spider", "climbed up", "the waterspout.", end = " * ")
print("The itsy bitsy spider", "climbed up", "the waterspout.")

In [ ]:
print("My name is", "Python", "Monty")

In [5]:
print("My name is", "Python.", end = " ")
print("Monty Python.")

My name is Python. Monty Python.

In [4]:
print("My", "name", "is", "Monty", "Python.", sep = "-")

My-name-is-Monty-Python.

In [ ]:
#Two or more string literals (i.e. the ones enclosed between quotes)
#next to each other are automatically concatenated.

print("Pyth" "on")

In [ ]:
print("It's indeed Python")

In [ ]:
print('It\'s indeed Python')

In [ ]:
city = "Winnipeg"
print(city)

#print("Toronto")

In [11]:
#The len() function

city = "Winnipeg"
city_len = len(city)
print(city_len)

8

In [ ]:
print(len("Winnipeg"))

In [14]:
#Nesting functions

city = "Winnipeg"
print(len(city))

print(len("Winnipeg"))

8
8

In [ ]:
#String Methods

city = "WiNnipEg"
print(city)
print(city.lower())
print(city.upper())
print(city.capitalize())

print("toronto".capitalize())

In [24]:
#String Concatenation

#print("I " + "love " + "Winnipeg")

one = "I"
two = "love"
three = "Winnipeg"
print(one +" "+ two +" "+ three)

print("{2}, {0} {1}." . format(one, two, three))

I love Winnipeg
Winnipeg, I love.

In [ ]:
# Formatting Strings

#print("I {} Winnipeg." . format("love"))
#print("{} {} {}." . format("I", "love", "Winnipeg"))

#print("I {0:<2} {1}. {1} {0}s me." . format("love", "Winnipeg"))

print("I {0:<2} {1}. {1} {0}s me." . format("love", "Winnipeg"))

In [ ]:
version = 15.0746
IOS = "IOS-XE"
print("The software version is {} - {}." . format(IOS, version))
print("The software version is {1:.0f} - {0}." . format(IOS, version))

print(type(version))
print(type(IOS))

In [ ]:
print('{0:25} | {1:<25}'.format('Province/ Territories', 'Populations(M)'))
print('{0:25} | {1:<25.2f}'.format('Manitoba', 1.369432))
print('{0:25} | {1:<25.2f}'.format('Toronto', 14.57642534))

In [ ]:
# Repeating Strings

print("*" * 8)
print("Love " * 5)

In [27]:
# The str() Function

version = 7
#print("I love CCNA" + version)
print("I love CCNA " + str(version) + ".")

print("I love CCNA " + str(version) + ".")

I love CCNA 7.
I love CCNA 7.

In [28]:
# Intergers
# integers (octal and hex)
# floats


print(0o73)
# print(0x123)
# print(hex(291))
# print(10 / 3)
#print(round((10 / 3), 2))
#print(9 / 3) # format it to int
# print(round(10 / 3))
#print(round((10 / 1.5), 2))
# print(round((10 / 1.5), 2))
# print(round((0xAF / 0x12), 2))

59

In [ ]:
print(0b101) # Converting binary to Decimal
print(bin(5)) # Converting Decimal to Binary

In [29]:
d = 0xfff
print(bin(d))

0b111111111111

In [ ]:
# Boolean values - this is comparison code
x = 1
y = 2
print(1 == 1)
print(1 == x)
print(y < x)

In [ ]:
a = 2
b = 3

if b > a:
    print("Indeed a is less b")
print("b is not less a")

In [ ]:
# Indexing
#   String: W   i   N    n   I    p   E   g
#   Index:  0   1   2    3   4    5   6   7
#   Index: -8  -7  -6   -5  -4   -3  -2  -1

city = "WiNnIpEgashdg;jagh'padjsrgkjgasgpojoljgadflpo;ajgkajg;la"
# print(city[0]) # index 0
# print(city[0:8]) # index from 0 to 8, exclude last
# print(city[:3]) # index from start to 3, exclude last
# print(city[5:]) # index from 5 to last
# print(city[-3:]) # index from -3 to last
# print(city[:-5]) # index from start to -5, exclude last

In [ ]:

#10 * 3 // 2 + 1 - 2 * 6 + 2 ** 4
10 * 3 // 2 + 1 - 2 * 6 + 2 ** 4

In [ ]:
#The Arithmetic Operators
# Priority - Use EMDAS from left to right

ac = -4 + 5.
print(ac)

In [ ]:
print(2 ** 3)

aa = 4 * 2
print(aa)

ab = round(14 / 3, 2)
print(ab)

print(12 % 4.5)

In [ ]:
ad = 1 + 2 * 10 / 2
print(ad)

In [ ]:
#The Arithmetic Operators
# Priority - Use EMDAS from left to right

ad = +10 * 4 ** 4 / 2 + 4 - 2
print(ad)

In [ ]:
ad = (1 + 2 * 10) / 2
print(ad)
print(type(ad))

In [ ]:
ad = (1 + 2) * 10 / 2
print(ad)

In [ ]:
y = 2 + 2
x = 6 * 2
z = float(y * x)
print(z)

a = z * 2
print(a)

aString = 'b'

print(aString * 50)

In [ ]:
#Basic Input-Output

prefix = input("Enter your salutation: ")
firstname = input("Enter your first name: ")
lastname = input("Enter your last name: ")

print("Welcome!", firstname, lastname, ".")
print()
print(f"Welcome {prefix} {firstname} {lastname}.")
print(f"Welcome {lastname}, {prefix} {firstname}.")
print()
print("Welcome! {}., {} {}" . format(lastname, prefix, firstname))
print("Welcome! {1}., {2} {0}" . format(lastname, prefix, firstname))

In [ ]:
# Creating Variables

a = 1 # a is variable with integer value of 1
b = 2 # b is variable with integer value of 2
print(a)
print(b)
b = 3
c = b
print(c)
b = 5
print(c)

myName = "Tavare Tulloch" #myName is a valiable with string value of Tavare Tulloch
print(myName)

In [ ]:
#Basic Input-Output

myInput = float(input("Enter a number: "))
print(myInput)


#while True:
#     try:
#        myInput = int(input("Enter a number: "))
#     except ValueError:
#         print("Not a valid number! Try again")
#         continue
#    else:
#         break
#print(myInput)

In [ ]:
#Type conversion using str() function.

#Compute the Hypotenuse

a = float(input("Input a side length: "))
b = float(input("Input b side length: "))
c = ((a**2 + b**2) ** .5)
print("Hypotenuse length is " + str((a**2 + b**2) ** .5))
print("Hypotenuse length is " + str(c))

print(type(c))